@import "./../../../scss/base/1_vars.scss";
@import "./../../../scss/base/2_mixins.scss";
@import "./../../../scss/base/3_typography.scss";

header {
  position: fixed;
  background: $brand-color;
  color:#fff;
  width: 100%;
  display: block;
  border-bottom: 1px solid #eaeaea;
  z-index: 2;

  .row {
    padding: 15px 20px;
    display: table;
    width: 100%;

    .inner {
      display: inline-block;
      vertical-align: middle;
      width: 100%;

      @include vertical-align();
    }

    .logo, .search {
      display: table-cell;
      height: 4em;

      @include xs {
        display: block;
      }
      
      @include sm {
        display: block;
      }
    }


    .logo {
      position: relative;
      color: #fff;
      
      .inner {
        font-family: $font-heading;
        font-size: 2em;
        font-weight: 100;

        b {
          font-weight: 500;
        }
        
        a {
          color: #fff;
          letter-spacing: -0.7pt;
          transition: all 0.5s ease-out;
         
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }

    .search {

      form {
        width: 100%;
      }

      .submit {
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        height: 100%;
        background: transparent;
        appearance:none;
        border: none;

        svg {
          height: 35px;
          width: 30px;
          fill:#fff;
        }
      }

      .form-control {
        height: 3em;
        width: 100%;
        border: none;
        border-radius:0;
        background: transparent;
        border-bottom: 2px solid #fff;
        padding-left: 0;
        color: #fff;
        font-size: 1.4em;
        font-family: $font-heading;
        appearance:none;
        box-shadow: none!important;

        &::placeholder {
          color: #fff;
          opacity: 0.9;
        }
      }
    }
  }

}