/*@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik/Graphik-Extralight.eot');
  src: url('../fonts/graphik/Graphik-Extralight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/graphik/Graphik-Extralight.woff') format('woff'),
  url('../fonts/graphik/Graphik-Extralight.ttf') format('truetype'),
  url('../fonts/graphik/Graphik-Extralight.svg#andesregular') format('svg');
  font-weight: 200;
  font-style: normal;
}*/

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik/Graphik-Light.eot');
  src: url('../fonts/graphik/Graphik-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/graphik/Graphik-Light.woff') format('woff'),
  url('../fonts/graphik/Graphik-Light.ttf') format('truetype'),
  url('../fonts/graphik/Graphik-Light.svg#andesregular') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik/Graphik-Regular.eot');
  src: url('../fonts/graphik/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/graphik/Graphik-Regular.woff') format('woff'),
  url('../fonts/graphik/Graphik-Regular.ttf') format('truetype'),
  url('../fonts/graphik/Graphik-Regular.svg#andesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik/Graphik-Medium.eot');
  src: url('../fonts/graphik/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/graphik/Graphik-Medium.woff') format('woff'),
  url('../fonts/graphik/Graphik-Medium.ttf') format('truetype'),
  url('../fonts/graphik/Graphik-Medium.svg#andesregular') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik/Graphik-Semibold.eot');
  src: url('../fonts/graphik/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/graphik/Graphik-Semibold.woff') format('woff'),
  url('../fonts/graphik/Graphik-Semibold.ttf') format('truetype'),
  url('../fonts/graphik/Graphik-Semibold.svg#andesregular') format('svg');
  font-weight: 600;
  font-style: normal;
}
/*
@font-face {
  font-family:'Graphik';
  src: url('../fonts/graphik/Graphik-Bold_gdi.eot');
  src: url('../fonts/graphik/Graphik-Bold_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/graphik/Graphik-Bold_gdi.woff') format('woff'),
  url('../fonts/graphik/Graphik-Bold_gdi.ttf') format('truetype'),
  url('../fonts/graphik/Graphik-Bold_gdi.otf') format('opentype'),
  url('../fonts/graphik/Graphik-Bold_gdi.svg#Graphik-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2265;
}*/